<ul class="list-group">

	{% for book in books %}
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-3">{{book.name}}
					<br><small>ISBN :
						{{book.isbn}}</small>
				</div>
				<div class="col-md-2">{{book.category.name}}</div>
				<div class="col-md-4 text-right" style="color: #ca2323;
																																																																																															    font-size: 20px;">LKR
					{{book.price}}</div>
				<div class="col-md-3 text-right">
					<button class="btn btn-success">Add to bag</button>
				</div>
			</div>
		</li>
	{% endfor %}
</ul>
