{% extends 'base.html.twig' %}

{% block title %}Cart
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-5">

			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<fieldset>
							<legend>Delivery Information</legend>
							<form>
								<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="exampleInputEmail1">First Name</label>
										<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="exampleInputPassword1">Last Name</label>
										<input type="password" class="form-control" id="exampleInputPassword1">
									</div>
								</div>

                                <div class="col-md-6">
									<div class="form-group">
										<label for="exampleInputPassword1">Phone</label>
										<input type="password" class="form-control" id="exampleInputPassword1">
									</div>
								</div>

                                <div class="col-md-6">
									<div class="form-group">
										<label for="exampleInputPassword1">Email</label>
										<input type="password" class="form-control" id="exampleInputPassword1">
									</div>
								</div>

                                <div class="col-md-6">
									<div class="form-group">
										<label for="exampleInputPassword1">Address Line 1</label>
										<input type="password" class="form-control" id="exampleInputPassword1">
									</div>
								</div>
                                <div class="col-md-6">
									<div class="form-group">
										<label for="exampleInputPassword1">Address Line 2</label>
										<input type="password" class="form-control" id="exampleInputPassword1">
									</div>
								</div>
                                <div class="col-md-12">
									<div class="form-group">
										<label for="exampleInputPassword1">City</label>
										<input type="password" class="form-control" id="exampleInputPassword1">
									</div>
								</div>

                                  <div class="col-md-12">
									<div class="form-group">
										<label for="exampleInputPassword1">Delivery Information</label>
										<input type="password" class="form-control" id="exampleInputPassword1">
									</div>
								</div>

								</div>
							</fieldset>
						</form>
					</div>
					{# <div class="col-md-6">
						<form>
							<fieldset>
								<legend>Deivery Information</legend>
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
									<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Password</label>
									<input type="password" class="form-control" id="exampleInputPassword1">
								</div>
								<div class="form-group form-check">
									<input type="checkbox" class="form-check-input" id="exampleCheck1">
									<label class="form-check-label" for="exampleCheck1">Check me out</label>
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</fieldset>
						</form>
					</div> #}
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div>ORDER SUMMARY</div>
						<hr>
						<dl class="row">
							<dt class="col-sm-7">Order Subtotal</dt>
							<dd class="col-sm-5">LKR 1000.00</dd>

							<dt class="col-sm-7">Discount (15%)</dt>
							<dd class="col-sm-5">LKR 1000.00</dd>

							<dt class="col-sm-7">Coupon Discount</dt>
							<dd class="col-sm-5">LKR 1000.00</dd>

							<dt class="col-sm-7">Coupon Discount</dt>
							<dd class="col-sm-5">LKR 1000.00</dd>
						</dl>
						<button type="button" class="btn btn-success btn-block">Checkout</button>
						<hr>
						<div>ITEM SUMMARY</div>
						<hr>
						<div>

							<div>
								<div style="font-weight:bold">
									<div class="row">
										<div class="col-md-6">
											book Name 1
											<br><small>ISBN: 12312312</small>
										</div>
										<div class="col-md-6 text-right">
											<div>LKR 1000.00</div>
										</div>
									</div>

								</div>
								<div>
									<small>Quantity: 1</small>
								</div>
							</div>


						</div>
						<hr>
						<div>

							<div>
								<div style="font-weight:bold">
									<div class="row">
										<div class="col-md-6">
											book Name 1
											<br><small>ISBN: 12312312</small>
										</div>
										<div class="col-md-6 text-right">
											<div>LKR 1000.00</div>
										</div>
									</div>

								</div>
								<div>
									<small>Quantity: 1</small>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>{% endblock %}
