{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-5">

			<div class="col-md-12">

				<div class="mb-2">
					<select class="custom-select" id="category">
						<option value="0">All Categories</option>
						{% for category in categories %}
							<option value="{{category.id}}">{{category.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="bookList"></div>

			</div>


		</div>

	</div>

{% endblock %}


{% block scripts %}
	<script type="text/javascript">

loadBookList(0);
		$('#category').change(function () {

loadBookList($(this).val());
});

function loadBookList(id) {
$.ajax({
url: 'get-book-list',
type: 'POST',
data: {
cat_id: id
},
beforeSend: function () {},
complete: function () {},
success: function (data) {
$('#bookList').html(data);
},
error: function (data) {}
});
}

function addToCart(id) {
$.ajax({
url: 'cart/add',
type: 'POST',
dataType: 'JSON',
data: {
item_id: id
},
beforeSend: function () {},
complete: function () {},
success: function (data) {
loadCartCount();
},
error: function (data) {}
});
}
	</script>
{% endblock %}
