{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block styles %}
	<style>
		#loading {
			background-image: url('assets/img/loading.gif');
			height: 300px;
			width: 100%;
			background-position: center;
			/* background-size: auto; */
			background-repeat: no-repeat;
		}
	</style>
{% endblock %}


{% block body %}
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-12">
				<div class="mb-2">
					<select class="custom-select" id="category">
						<option value="0">All Categories</option>
						{% for category in categories %}
							<option value="{{category.id}}">{{category.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div id="bookList" style="overflow-y: auto; max-height: 70vh;"></div>

				<div id="loading"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}{% endblock %}
